/* Combined CSS for both sets of rules */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eaf6f6;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #1d1c1c;
  background: #eaf6f6;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #eaf6f6;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #66bfbf;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

body {
  background-color: #eaf6f6;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  gap: 20px;
  width: 100%;
  max-width: 600px; /* Limit the container's width for better readability */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px;
}

h3 {
  color: #66bfbf;
  text-align: center;
  font-size: 30px; /* Increase the font size for the header */
}

ul {
  list-style-type: none;
  padding: 0; /* Remove default padding for the unordered list */
}

ul li {
  margin: 5px 0;
  text-align: center; /* Center the text within the list items */
}

ul li img {
  display: block; /* To remove any default inline spacing */
  margin: 0 auto; /* Center the image horizontally */
  margin-bottom: 10px; /* Add some space between the image and the text */
}

a {
  color: #66bfbf;
  text-decoration: none;
  font-weight: bold;
}

p {
  text-align: center;
}

/* Media query for screens with a maximum width of 600 pixels */
@media screen and (max-width: 600px) {
  ul li img {
    width: 80px; /* Adjust image size for smaller screens */
    height: 120px;
  }
}
