/* Add this CSS to your existing styles.css file */

body {
  background-color: #eaf6f6;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 600px; /* Limit the container's width for better readability */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-top-color: gray;
  border-width: 5px;
  width: 10%;
}

h1, h3 {
  color: #66bfbf;
  text-align: center; /* Center the name and section headers */
}

img {
  display: block; /* To remove any default inline spacing */
  margin: 0 auto; /* Center the image horizontally */
}

/* Default styles for the skills table */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: center;
}

/* Media query for screens with a maximum width of 600 pixels */
@media screen and (max-width: 600px) {
  table {
    font-size: 12px; /* Reduce font size for smaller screens */
  }

  th, td {
    padding: 5px; /* Reduce padding for smaller cells */
  }
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Add more CSS styles as needed for responsiveness */
